h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
}
body {
    background: #e1e1e1;
}
input, select {
    background-color: #222222 !important;
    color: #E1E1E1 !important;
    border-radius: 0 !important;
}
input:focus, select:focus {
    border: solid black 1px !important;
    box-shadow: 1px 1px 3px black !important;
}
.navbar {
    min-height:28px !important;
    border-radius: 0 !important;
}

.left-main-column {
    border-right: solid black 1px;
    padding-right: 30px;
}

.right-main-column {
    padding-left: 30px;
}

@media (max-width: 995px) {
    .left-main-column {
        padding-right: 10px;
        border-right: 0;
    }
    .right-main-column {
        padding-left: 10px;
    }
}

